{{>adminhead}}
<div class="wrapper">
    {{>sidebar}}
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <div class="">
                    <h4 class="mt-2">Admin Dashboard</h4>
                </div>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">

                <!-- Table Element -->
                <form action="#" method="post" class="card-body">
                    {{#each queries}}

                    Query No:- {{this.queryid}}
                    <div class="card p-2">



                        <div class="row  ">
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Name : {{this.full_name}}</p>
                            </div>
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Email : {{this.email}}</p>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Mobile : {{this.mobile}}</p>
                            </div>
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Occupation : {{this.occupation}}</p>
                            </div>

                        </div>


                        <div class="row mt-1">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <p class="card-text">Subject :</p>
                                    <div class="card">
                                        <p class="card-text m-2" style="height: 55px;">{{this.reason}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group last mb-1">

                                    <p class="card-text">Reply :</p>
                                    <div class="card">
                                        <p class="card-text m-2" style="height: 55px;">{{this.message}}</p>

                                    </div>
                                </div>
                            </div>


                        </div>



                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <p class="card-text">Send Email To:- {{this.email}} <span
                                            class="text-danger">[Optional]</span> </p>
                                    {{!-- <input type="text" class="form-control" value="{{this.reason}}"
                                        style="height: 100px;" id="reason"> --}}
                                    <textarea type="te" class="form-control" style="height: 70px;"
                                        value="{{this.reason}}" id="reason">{{this.reason}}</textarea>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group last mb-1">
                                    <input type="submit" value="Ignor" class="btn px-5 btn-primary mt-2">
                                    <input type="submit" value="Send Email" class="btn px-5 btn-primary mt-2">
                                </div>
                            </div>

                        </div>




                    </div>

                    {{/each}}

                    {{#each queries}}


                    <div class="card">
                        <div class="row ">
                            <div class="row m-1 ">
                                <div class="col-md-6">
                                    <p class="card-text">Name : {{this.full_name}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">Email : {{this.email}}</p>
                                </div>

                            </div>

                            <div class="row m-1 ">
                                <div class="col-md-6">
                                    <p class="card-text">Mobile : {{this.mobile}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">Occupation : {{this.occupation}}</p>
                                </div>

                            </div>
                            <div id="query-flex">


                                <div class="col-md-6 m-1">
                                    <div class="m-1 col-md-11 ">
                                        <div class="col-md-12">
                                            <p class="card-text">Subject :</p>
                                            <div class="card">
                                                <p class="card-text m-1">{{this.reason}}</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="m-1 col-md-11 ">
                                        <div class="col-md-12">
                                            <p class="card-text">Message :</p>
                                            <div class="card">
                                                <p class="card-text m-1">{{this.message}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="m-1 col-md-10">
                                    <div class="col-md-6">
                                        <p class="card-text">Reply :</p>
                                        <div class="card">
                                            <p class="card-text m-1">{{this.message}}</p>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-7 px-3">
                                <div class="card-block px-6">

                                    <br>
                                    <a href="#" class="m-1 btn btn-primary  ">Read More</a>
                                </div>
                            </div>
                            <!-- Carousel start -->

                            <!-- End of carousel -->
                        </div>
                    </div>
                    {{/each}}

                </form>

            </div>
        </main>


    </div>
</div>

<!-- Card Start -->
{{>footer}}