{{>adminhead}}
<div class="wrapper">
    {{>sidebar}}
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <div class="">
                    <h4 class="mt-2">Admin Dashboard</h4>
                </div>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">

                <!-- Table Element -->
                <form action="#" method="post" class="card-body">
                <div class="input-group mb-3">
                    <input type="search" class="form-control " placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
                </div>
                        <div class="card-group vgr-cards">
                            {{#each combinedData}}
                            <div class="card">
                                <div class="card-img-body">
                                    <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
                                </div>
                                <div class="card">
                                    <div class="card-img-body">
                                        <img class="card-img" src="https://picsum.photos/450/250" alt="Card image cap">
                                    </div>
                                    <div class="card-body p-1">
                                        <h4 class="card-title">Card title</h4>
                                        <div class="row  ">
                                            <div class="col-md-6 mb-2">
                                                <p class="card-text">Name : {{this.first_name}}</p>
                                            </div>

                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6 mb-2">
                                                <p class="card-text">Email : {{this.email}}</p>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-md-6 mb-2">
                                                <p class="card-text">Organization : {{this.organization}}</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6 mb-2">
                                                <p class="card-text">Designation : {{this.designation}}</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6 mb-2">
                                                <p class="card-text">File Title : {{this.file_name}}</p>
                                            </div>
                                        </div>

                                        {{!-- <a href="#" class="btn btn-outline-primary">Primary</a> --}}
                                        <input type="submit" value="Approve" class="btn px-4 btn-primary mt-2"  data-action="approve" data-email="{{this.email}}" data-file="{{this.file_name}}">
                                        <input type="submit" value="Reject" class="btn px-4 btn-primary mt-2"  data-action="reject" data-email="{{this.email}}"  data-file="{{this.file_name}}">
                                        <input type="submit" value="Isolate" class="btn px-4 btn-primary mt-2"  data-action="isolate" data-email="{{this.email}}"  data-file="{{this.file_name}}">


                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{!--
                    </div> --}}
                    {{!-- {{/each}} --}}


                </form>

            </div>
        </main>


    </div>
</div>

<!-- Card Start -->

<script>

  document.addEventListener('DOMContentLoaded', () => {
    const actionButtons = document.querySelectorAll('.btn-primary');

    actionButtons.forEach(button => {
        button.addEventListener('click', async (event) => {
            const action = event.target.getAttribute('data-action');
            const email = event.target.getAttribute('data-email');
            const file_name = event.target.getAttribute('data-file');


            try {
                const response = await fetch('/admin/requests', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ action, email, file_name }),
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const result = await response.json();
                console.log(result);

                // Show success alert using SweetAlert
                Swal.fire({
                    title: 'Success!',
                    text: `Action ${action} for ${email} was successful!`,
                    icon: 'success',
                    confirmButtonText: 'OK'
                });

            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);

                // Show error alert using SweetAlert
                Swal.fire({
                    title: 'Error!',
                    text: `There was a problem performing the action ${action} for ${email}.`,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    });
});


</script>
{{>footer}}