{{>adminhead}}
<div class="wrapper">
    {{>sidebar}}
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <div class="">
                    <h4 class="mt-2">Admin Dashboard</h4>
                </div>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">

                <!-- Table Element -->
                <form action="#" method="post">
                    {{#each queries}}

                    Query No:- {{this.queryid}}

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="fname"> Name *</label>
                                <input type="text" class="form-control" id="fname" value="{{this.full_name}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="lname">Email *</label>
                                <input type="text" class="form-control" id="email" value="{{this.email}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="fname">Mobile No *</label>
                                <input type="text" class="form-control" id="mobile" value="{{this.mobile}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="lname">Occupation *</label>
                                <input type="text" class="form-control" id="occupation" value="{{this.occupation}}" readonly>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="lname">Reason of Contact *</label>
                                <textarea readonly class="form-control" style="height: 100px;" id="reason">{{this.reason}}</textarea>
                                
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="reply">Send Email To:- {{this.email}} <span class="text-danger">[Optional]</span> </label>
                                {{!-- <input type="text" class="form-control" value="{{this.reason}}" style="height: 100px;" id="reason"> --}}
                                 <textarea type="te" class="form-control" style="height: 100px;" value="{{this.reason}}" id="reason">{{this.reason}}</textarea>
                            </div>
                        </div>


                    </div>



                    <div class="row mt-3">
                        <div class="col-md-6">

                            <div class="form-group last mb-3">
                                <label for="password">Message</label>
                                {{!-- <input type="text" class="form-control" id="message" style="height: 100px;" value="{{this.message}}"> --}}
                                <textarea readonly class="form-control" style="height: 100px;" value="{{this.reason}}" id="reason">{{this.message}}</textarea>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group last mb-3">
                                <input type="submit" value="Send Email" class="btn px-5 btn-primary mt-4">
                            </div>
                        </div>

                    </div>

                    <input type="submit" value="Resolved" class="btn px-5 btn-primary mt-2">
                    <br>
                    <br>
                    <br>
                    <br>



                    {{/each}}

                </form>

            </div>
        </main>


    </div>
</div>
{{>footer}}